body{
	background-image: url("img/fundo.PNG");
}

img.bolo-1 {
	margin-bottom: 20px;
	margin-top: 20px;
}

 img.bolo-2 {
 	float: right;
	margin-bottom: 20px;
	margin-top: 20px;
}










/* Backgraund - fundo bolos */ 


